/* ALLGEMEIN */
body,
h1 {
    margin: 0;
    padding: 0;
}

html {
    background-image: radial-gradient(circle at 87.5% 12.5%, #667193 0, #113767 50%, #00003d 100%);
    color: #ffffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100%;
}

main {
    background-color: #302D4280;
    min-width: 800px;
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* INDEX */
/* Input form */
.new-input-buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.new-input-buttons button{
    width: 170px;
    margin: 10px;
}

#new-input{
    display:none;
}

#new-input-minus, #new-category-minus{
    display: none;
    background-color: #E95993;
    width: 50px;
}

#new-repeated-change{
    display: none;
}

#new-repeated-input-minus{
    display: none;
    background-color: #E95993;
    width: 50px;
}

.dataset{
    display: flex;
    background: #ffffff20;
    padding: 5px;
    margin: 6px;
    border-radius: 5px;
}

.income-datum,
.expense-datum,
.income-info, .expense-info,
.income-betrag, .expense-betrag{
    margin: 5px;
    padding-top: 5px;
}

.income-datum {
    background-color: #48D390;
    padding: 5px;
    border-radius: 5px;
}

.expense-datum {
    background-color: #E95993;
    padding: 5px;
    border-radius: 5px;
}


.income-betrag, .expense-betrag {
    margin-left: auto;
    margin-right: 10px;
}

h1 {
    padding: 10px;
    font-size: 20px;
}

h2 {
    margin: 15px;
    text-align: center;
}

.income-title {
    text-align: center;
    background: #48D390;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.expense-title {
    text-align: center;
    background: #E95993;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.balance {
    font-size: 28px;
}

#new-input {
    /* display: flex; */
    align-items: center;
    padding: 15px;
}

#new-input button {
    margin: 5px;
    width: 40px;
}

#new-repeated-change {
    /* display: flex; */
    align-items: center;
    padding: 15px;
}

#new-repeated-change button {
    margin: 5px;
    width: 40px;
}

button,
.submit-button {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.buttons {
    text-align: center;
    margin: 10px;
}

.buttons a {
    margin: 5px;
}

.buttons button {
    font-size: 18px;
}

li {
    list-style: none;
}

.displays {
    display: flex;
}

.incomes-display,
.expense-display {
    flex: 1;
    margin: 5px;
    border-radius: 10px;
}

.incomes-display {
    background-color: #48D39090;
}

.expense-display {
    background-color: #E9599390;
}

/* AB HIER FORM STYLING */
input,
select {
    width: 60%;
    margin: 10px;
    background-color: #f9f9f9;
    border: 3px solid #302D42;
    height: 28px;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

label {
    margin: 10px;
}

input:focus {
    outline: 0;
    border: 3px solid;
    border-color: #48D390;
}

#eintrag form p {
    margin: 10px;
    font-size: 18px;
    color: #48D390;
}



/* ===================SINGLE INPUT=================== */
table {
    width: 100%;
}

th {
    font-size: 18px;
}

table tr:nth-child(odd) {
    background: #ffffff10;
}

input,
select {
    background-color: #11376780;
    border: none;
    color: #ffffff;
    width: 90%;
}

button {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.buttons {
    text-align: center;
    margin: 20px auto;
    margin: 20px;

}

.buttons a {
    margin: 5px;
}

.buttons a button {
    font-size: 18px;
}

.buttons-td {
    text-align: center;
    width: 76px;
}

#hide-button {
    display: none;
}

#edit-btn{
    background-color:#48D390;
    margin: 3px;
}

#delete-btn{
    background-color:#E95993;
}

/* ÄNDERUNGSFELDER */
.show-aenderungs-felder {
    display: none;
}

/* MODALS */
.success{
    color: rgb(0, 83, 0);
    text-align: center;
    background: #48D39090;
}

.failure {
    color: rgb(137, 2, 2);
    text-align: center;
    background: #E9599390;
}

/* =========================SINGLE INPUT========================= */
.single-input-div{
    padding: 30px;
}

/* ==========================REPEATED INPUTS========================== */
table {
    width: 100%;
}

th {
    font-size: 18px;
}

table tr:nth-child(odd) {
    background: #ffffff10;
}

button {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.buttons {
    text-align: center;
    margin: 20px auto;
    margin: 20px;

}

.buttons a {
    margin: 5px;
}

.buttons a button {
    font-size: 18px;
}

.buttons-td {
    text-align: center;
    width: 76px;
}

.buttons-td-eintrag {
    width: 122px;
    background-color: #302D42;
}

#hide-button {
    display: none;
}

.btns {
    display:flex;
}

.btn{
    flex:1;
    max-width: 100px;
}

.edit-repeated-btn, .register-login-btn{
    background-color: #48D390;
}

.delete-repeated-btn{
    background-color: #E95993
}

.add-repeated-btn{
    border:#00003d 1px solid;
    background-color: #0202e1ba;
}


/* ==================CATEGORIES================== */

#category-input, #new-category-minus {
    display: none;
}

/* ==============================LOGIN/REGISTER============================== */
.login-register{
    width:60%;
    margin: 20px auto;
    padding: 20px;
}

.link {
    text-align: center;
}

.link>a{
 color: #DFDEDF;
}

